//Tablets
@media (min-width: 600px) {
  body {
    .body-container {
      header {
        .header-container {
          max-width: 700px;

          .search {
            .input-field .search__box {
              width: 225px;
              height: 25px;
            }
          }

          .bookmarks-btn {
            width: 125px;
          }
        }
      }

      section {
        .search-container {
          max-width: 650px;
          grid-template-columns: 1fr 1fr;
          gap: 18px 24px;

          button.load-more {
            grid-column: span 2;
          }
        }
      }
    }

    .book-info {
      .container {
        max-width: 450px;
      }
    }

    footer {
      display: flex;
    }
  }
}

@media (min-width: 900px) {
  body {
    .book-info {
      .container {
        max-width: 650px;
        .book-header {
          padding-bottom: 18px;
        }
        .book-body {
          display: flex;
          gap: 18px;
          .img-BScreen {
            display: block;
          }
          section.content {
            width: 100%;

            .meta-container {
              .img-SScreen {
                display: none;
              }

              .meta {
                .author-publisher {
                  gap: 32px;
                }

                .pages-isbn {
                  gap: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
}

//Laptops
@media (min-width: 1300px) {
  body {
    .body-container {
      header {
        .header-container {
          max-width: 900px;
        }
      }

      section {
        .search-container {
          max-width: 850px;
          grid-template-columns: 1fr 1fr 1fr;

          button.load-more {
            grid-column: span 3;
          }
        }
      }
    }
  }
}
