@import 'resets';
@import 'variables';
@import 'mixins';

body {
  background-image: $linear-gradient;
  overflow: hidden;
  font-family: $poppins;
  height: 100vh;
  width: 100vw;

  .body-container {
    margin: 16px 8px 20px 8px;

    header {
      background-color: $white-grey;
      border-radius: 20px 20px 0 0;

      .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        height: 60px;
        margin: 0 auto;

        .logo {
          img {
            @include flex-center-center;
            height: 35px;
          }
        }

        .search {
          display: flex;
          align-items: center;

          .search__box {
            background-color: $white-light;
            width: 120px;
            height: 25px;
            padding: 12px;
            border-radius: 5px 0 0 5px;
            border: none;

            &:focus-visible {
              outline: none;
            }
          }

          button {
            cursor: pointer;
          }

          .search__icon {
            @include flex-center-center;
            width: 25px;
            height: 25px;
            background-image: $linear-gradient;
            border-radius: 0 5px 5px 0;
            border: none;

            i {
              color: $white-light;
              transform: scale(0.8);
            }
          }
        }

        .bookmarks-btn {
          background-image: $linear-gradient;
          color: $white-light;
          font-size: 14px;
          height: 25px;
          width: 25px;
          border-radius: 15px;
          padding: 14px;
          @include flex-center-center;
          cursor: pointer;

          transition: all 100ms ease-out;

          &:hover {
            transform: scale(0.9);
          }

          i {
            color: $white-light;
            transform: scale(0.9);
          }
        }
      }
    }

    // For Search
    section {
      background-color: $white-light;
      margin: 0 auto;
      padding: 30px 0 20px 0;
      border-radius: 0 0 20px 20px;
      height: calc(100vh - (96px));
      overflow-y: auto;

      .search-container {
        max-width: 300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: flex-start;
        row-gap: 18px;
        padding: 0 32px;

        span.msg {
          position: absolute;
          width: fit-content;
          padding: 0 64px;
          text-align: center;
          font-size: 14px;
          left: 50%;
          transform: translateX(-50%);
          color: $black-dark;
        }

        .error {
          position: absolute;
          top: 15vh;
          left: 50%;
          transform: translateX(-50%);
          width: fit-content;
          padding: 0 50px;
          p {
            color: $red-shade-1;
            font-size: 14px;
            text-align: center;

            span i {
              color: $red-shade-1;
              transform: scale(1.2);
            }
          }
        }

        .success {
          position: absolute;
          bottom: 5vh;
          left: 3vh;
          width: fit-content;
          height: auto;
          padding: 5px 10px;
          background-color: $black-dark;
          border-radius: 15px;
          opacity: 0;
          transition: all 1000ms linear;

          &.active {
            opacity: 1;
          }

          p {
            color: #78e08f;
            font-size: 14px;
            text-align: center;

            span i {
              color: #78e08f;
              transform: scale(1.2);
            }
          }
        }

        button.load-more {
          margin-right: 16px;
          justify-self: center;
          background-image: $linear-gradient;
          padding: 6px 14px;
          border-radius: 15px;
          color: $white-light;
          font-size: 14px;
          border: none;
          cursor: pointer;
          transition: transform 100ms ease-out;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  // *Footer
  footer {
    @include flex-center-center;
    position: absolute;
    color: $white-light;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 2px;
    letter-spacing: 1px;

    span i {
      color: $red-shade-1;
    }
  }

  // Overlay for Bookmarks and Book Info Container
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(51, 51, 51, 0.2);
    display: none;

    &.active {
      display: block;
    }
  }

  // *Bookmarks sidebar
  .bookmarks {
    position: absolute;
    top: 16px;
    left: 0px;
    bottom: 22px;
    background-color: $white-light;
    width: 350px;
    z-index: 999;
    border-radius: 0 20px 20px 0;
    transform: translateX(-100%);
    transition: all 150ms linear;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.active {
      transform: translate(0%);
    }

    .bookmarks-header {
      position: relative;

      h1 {
        font-size: 26px;
        color: $black-dark;
        padding: 18px 18px 24px 18px;
      }

      span i {
        position: absolute;
        top: 18px;
        right: 18px;
        transform: scale(1.5);
        color: $red-shade-1;
        cursor: pointer;
      }
    }

    .bookmarks-container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: flex-start;
      row-gap: 18px;
      padding-left: 18px;
      max-width: 330px;
      font-size: 14px;
      overflow-y: auto;
      margin-bottom: 12px;

      book-item-component {
        transition: padding 100ms ease-out;
        &:hover {
          padding-left: 5px;
          border-radius: 10vh;
        }
      }

      p span i {
        color: $red-shade-1;
      }

      p.error-msg {
        color: $red-shade-1;
        font-size: 12px;
        text-align: center;
        justify-content: center;

        span i {
          color: $red-shade-1;
          transform: scale(1.2);
        }
      }
    }
  }

  // *Show book information
  .book-info {
    position: absolute;
    top: 16px;
    left: 8px;
    right: 8px;
    bottom: 0px;
    background-color: $white-light;
    border-radius: 20px 20px 0 0;
    transform: translateY(+100%);
    transition: all 150ms ease-out 200ms;
    z-index: 1000;
    overflow-y: scroll;

    &.active {
      transform: translateY(0%);
    }

    .close i {
      position: fixed;
      top: 12px;
      right: 12px;
      transform: scale(1.5);
      color: $red-shade-1;
      cursor: pointer;
    }

    .container {
      max-width: 300px;
      margin: 0 auto;
      padding-top: 52px;

      p.error-msg {
        color: $red-shade-1;
        font-size: 12px;
        text-align: center;
        justify-content: center;

        span i {
          color: $red-shade-1;
          transform: scale(1.2);
        }
      }

      .book-header {
        padding-bottom: 18px;

        .title-bookmark {
          display: flex;
          flex-direction: row;
          gap: 12px;

          span {
            background-image: $linear-gradient;
            color: $white-light;
            font-size: 14px;
            height: 25px;
            width: 25px;
            border-radius: 15px;
            padding: 14px;
            @include flex-center-center;
            cursor: pointer;
            transition: transform 100ms ease-out;

            &:hover {
              transform: scale(0.9);
            }

            i {
              color: $white-light;
              transform: scale(0.8);
            }
          }
        }

        h1 {
          font-size: 24px;
          font-family: $ubuntu;
          color: #4b4b4b;
          padding-bottom: 8px;
        }

        h2 {
          font-size: 12px;
          color: #6b6b6b;
          padding-bottom: 4px;
        }
        h3 {
          font-size: 10px;
          color: #6b6b6b;
        }
      }

      .book-body {
        .img-BScreen {
          display: none;
          img {
            border-radius: 5px;
          }
        }

        .na-BScreen {
          @include na-box();
          border-radius: 5px;
        }

        section.content {
          hr {
            margin: 16px 0;
          }

          h2 {
            font-size: 14px;
            color: #4b4b4b;
          }

          p {
            font-size: 12px;
            color: #6b6b6b;
          }

          .meta-container {
            display: flex;
            gap: 12px;

            .img-SScreen {
              img {
                border-radius: 5px;
              }
            }

            .na-SScreen {
              @include na-box($height: 150px, $width: 115px);
              border-radius: 5px;
            }

            a p {
              color: #4c7db0;
              text-decoration: underline;
              font-size: 12px;
            }

            .meta {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 16px;
              width: 100%;

              .author-publisher {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 16px;
                & a {
                  display: block;
                }
              }

              .pages-isbn {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 16px;
              }
            }
          }

          .description {
            padding-bottom: 16px;
          }

          .subjects {
            padding-bottom: 16px;
          }

          a {
            color: #4c7db0;
            text-decoration: underline;
            font-size: 14px;
          }

          .find-notes {
            @include flex-center-center;
            flex-direction: column;
            justify-content: center;

            .find-more {
              display: flex;
              flex-direction: column;
              gap: 8px;
              align-items: center;
              padding-bottom: 16px;
            }

            .notes {
              @include flex-center-center;
              position: relative;
              flex-direction: column;
              gap: 18px;
              margin-bottom: 18px;

              .message-s {
                position: absolute;
                bottom: 55px;
                left: 40px;
                width: fit-content;
                padding: 5px 10px;
                background-color: $black-dark;
                border-radius: 15px;
                opacity: 0;
                transition: all 1000ms linear;

                &.active {
                  opacity: 1;
                }

                p.success-msg {
                  color: #78e08f;
                  font-size: 12px;
                  text-align: center;

                  span i {
                    color: #78e08f;
                    transform: scale(1.2);
                  }
                }
              }

              textarea {
                box-shadow: 3.1px 4.3px 3.9px -13px rgba(0, 0, 0, 0.023),
                  7.2px 10px 9px -13px rgba(0, 0, 0, 0.034),
                  12.9px 18px 16.2px -13px rgba(0, 0, 0, 0.041),
                  21.4px 29.9px 26.8px -13px rgba(0, 0, 0, 0.049),
                  35.2px 49.2px 44.2px -13px rgba(0, 0, 0, 0.056),
                  61.5px 86px 77.2px -13px rgba(0, 0, 0, 0.067),
                  133px 186px 167px -13px rgba(0, 0, 0, 0.09);
                border: 2px solid #4b4b4b;
                border-radius: 5px;
                padding: 10px;
                font-family: $poppins;
                resize: none;
                &:focus-visible {
                  outline: none;
                  border: 2px solid #4c7db0;
                }
              }

              button.save {
                outline: none;
                border: none;
                width: fit-content;
                padding: 4px 12px;
                background-image: $linear-gradient;
                color: $white-light;
                border-radius: 5px;
                cursor: pointer;
                transition: transform 100ms ease-out;

                &:hover {
                  transform: scale(0.9);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Loading Spinner Animation
.loadingio-spinner-double-ring-48jq6smvq69 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ldio-r3slmbus1r {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-r3slmbus1r div {
  box-sizing: border-box !important;
}
.ldio-r3slmbus1r > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #487eb0 transparent #487eb0 transparent;
  animation: ldio-r3slmbus1r 1s linear infinite;
}

.ldio-r3slmbus1r > div:nth-child(2),
.ldio-r3slmbus1r > div:nth-child(4) {
  width: 54px;
  height: 54px;
  top: 23px;
  left: 23px;
  animation: ldio-r3slmbus1r 1s linear infinite reverse;
}
.ldio-r3slmbus1r > div:nth-child(2) {
  border-color: transparent #3c4856 transparent #3c4856;
}
.ldio-r3slmbus1r > div:nth-child(3) {
  border-color: transparent;
}
.ldio-r3slmbus1r > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-r3slmbus1r > div:nth-child(3) div:before,
.ldio-r3slmbus1r > div:nth-child(3) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #487eb0;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #487eb0;
}
.ldio-r3slmbus1r > div:nth-child(3) div:after {
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #487eb0;
}

.ldio-r3slmbus1r > div:nth-child(4) {
  border-color: transparent;
}
.ldio-r3slmbus1r > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-r3slmbus1r > div:nth-child(4) div:before,
.ldio-r3slmbus1r > div:nth-child(4) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 15px;
  background: #3c4856;
  border-radius: 50%;
  box-shadow: 0 46px 0 0 #3c4856;
}
.ldio-r3slmbus1r > div:nth-child(4) div:after {
  left: -8px;
  top: 15px;
  box-shadow: 46px 0 0 0 #3c4856;
}
.loadingio-spinner-double-ring-48jq6smvq69 {
  width: 51px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-r3slmbus1r {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-r3slmbus1r div {
  box-sizing: content-box;
}

@import 'supports';
@import 'media';
