@import 'resets';
@import 'variables';
@import 'mixins';

body {
  background-image: $linear-gradient;
  overflow: hidden;
  font-family: $poppins;

  .container {
    margin: 16px 8px;

    & header {
      background-color: #d8d8d8;
      border-radius: 20px 20px 0 0;
      box-shadow: 0px 2.2px 1.9px rgba(0, 0, 0, 0.036);

      & .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        height: 50px;
        margin: 0 auto;

        & .logo {
          @include flex-center-center;

          img {
            height: 35px;
          }
        }

        & .search {
          display: flex;
          flex-direction: row;
          align-items: center;

          & .input-field .search__box {
            background-color: $white-light;
            width: 120px;
            height: 25px;
            padding: 12px 12px;
            border-radius: 5px 0 0 5px;
            border: none;

            &:focus-visible {
              outline: none;
            }
          }

          & button.search__icon {
            @include flex-center-center;
            width: 25px;
            height: 25px;
            background-image: $linear-gradient;
            border-radius: 0 5px 5px 0;
            border: none;

            & i {
              color: $white-light;
              transform: scale(0.8);
            }
          }
        }

        & .bookmarks {
          background-image: $linear-gradient;
          color: $white-light;
          font-size: 14px;
          height: 25px;
          width: 25px;
          border-radius: 15px;
          padding: 14px;
          @include flex-center-center;

          & i {
            color: $white-light;
            transform: scale(0.8);
          }
        }
      }
    }

    & section {
      background-color: $white-light;
      margin: 0 auto;
      padding: 30px 0;
      border-radius: 0 0 20px 20px;
      height: calc(100vh - (90px));

      & .search-container {
        max-width: 200px;
        margin: 0 auto;
      }
    }
  }
}

footer {
  @include flex-center-center;
  position: absolute;
  color: $white-light;
  font-size: 12px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3px 0;

  span i {
    color: #df477f;
  }
}

@import 'media';
